.App {
  text-align: center;
  max-width: 490px;
  padding:15px;
  margin: 50px auto;
  height:100%;
  background-color: rgb(4, 8, 22);
}
.label{
  margin: 10px ;
  width: 210px;
}
.input{
 
  width:442px;
}
.top{
  text-align: center;
  max-width: 490px;
  padding:15px;
  margin: 50px auto;
  height:100%;
  background-color: rgb(4, 8, 22);
}
